{% set pageTitle = "Admin | Delete Trek" %}
{% set pageID = 12 %}
{% extends 'baseTemplate.tpl.html' %}

    {% block ContentArea %}
    <div class="container-fluid">
        <div class="row">
            
            <!-- Sidebar Start-->
            {% include 'sidebar.inc.html' %}

            <!-- Sidebar End-->

            <!-- Content Area Start-->
            <div class="col-10 offset-2 p-4 bg-light rounded">
                <!-- Page Header Start-->
                <div class="row pt-2 mt-2 mb-4">
                    <div class="col">
                        <div class="card" style="border-left: 5px solid purple;">    
                            <div class="card-body">
                                <h4 class="text-uppercase" style="color: purple;">Delete Trek</h4>
                                <p class="h5 text-success">Please confirm below information before deleting the trek</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page Header End-->

                <!-- Tabular Info Start-->
                <div class="row pt-2 mt-2">
                    <div class="col">
                        <div class="card" style="border-top: 5px solid purple;">
                            <div class="card-header">
                                <small class="text-uppercase"><strong>Trek Information (Trek ID: {{ trek_data.id }})</strong></small>
                            </div>
                            <form action="#" method="post">
                                <div class="card-body p-2 row">
                                    
                                    <div class="col-8">
                                        <table class="table table-sm table-bordered">
                                            <tbody class="bg-light">
                                                <tr class="align-top">
                                                    <th class="ps-3">Trek Name: </th>
                                                    <td>
                                                        <input type="text" class="form-control" name="trek_name" value="{{ trek_data.trek_name }}" disabled>
                                                    </td>
                                                    <th class="ps-3">Start Date: </th>
                                                    <td>
                                                        <input type="date" class="form-control" name="start_date" value="{{ trek_data.start_date }}" disabled>
                                                    </td>
                                                </tr>
                                                <tr class="align-top">
                                                    <th class="ps-3">Location: </th>
                                                    <td>
                                                        <input type="text" class="form-control" name="location" value="{{ trek_data.location }}" disabled>
                                                    </td>
                                                    <th class="ps-3">End Date: </th>
                                                    <td>
                                                        <input type="date" class="form-control" name="end_date" value="{{ trek_data.end_date }}" disabled>
                                                    </td>
                                                </tr>
                                                <tr class="align-top">
                                                    <th class="ps-3">Difficulty: </th>
                                                    <td>
                                                        <select class="form-select" name="difficulty" disabled>
                                                            <option value="easy" {{ 'selected' if trek_data.difficulty == 'easy' }}>Easy</option>
                                                            <option value="moderate" {{ 'selected' if trek_data.difficulty == 'moderate' }}>Moderate</option>
                                                            <option value="hard" {{ 'selected' if trek_data.difficulty == 'hard' }}>Hard</option>
                                                        </select>
                                                    </td>
                                                    <th class="ps-3">Assign Staff: </th>
                                                    <td>
                                                        <select class="form-select" name="staff_id" disabled>
                                                            {% for staff in staffs %}
                                                            <option value="{{ staff.id }}" {{ 'selected' if staff.id == trek_data.assigned_staff_id }}>{{ staff.full_name }} (Staff ID: {{ staff.id }})</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr class="align-top">
                                                    <th class="ps-3">Duration (Days): </th>
                                                    <td>
                                                        <input type="number" class="form-control" name="duration" value="{{ trek_data.duration }}" disabled>
                                                    </td>
                                                    <th class="ps-3">Trek Status: </th>
                                                    {% if trek_data.status == 'open' or trek_data.status == 'closed' %}
                                                    <td>
                                                        <select class="form-select" name="status" disabled>
                                                            <option value="open" {{ 'selected' if trek_data.status == 'open' }}>Open</option>
                                                            <option value="closed" {{ 'selected' if trek_data.status == 'closed' }}>Closed</option>
                                                            <option value="started" {{ 'selected' if trek_data.status == 'started' }}>Started</option>
                                                            <option value="completed" {{ 'selected' if trek_data.status == 'completed' }}>Completed</option>
                                                        </select>
                                                    </td>
                                                    {% elif trek_data.status == 'started' %}
                                                    <td>
                                                        <select class="form-select" name="status" disabled>
                                                            <option value="started" {{ 'selected' if trek_data.status == 'started' }}>Started</option>
                                                            <option value="completed" {{ 'selected' if trek_data.status == 'completed' }}>Completed</option>
                                                        </select>
                                                    </td>
                                                    {% elif trek_data.status == 'completed' %}
                                                    <td>
                                                        <select class="form-select" name="status" disabled>
                                                            <option value="completed" selected>Completed</option>
                                                        </select>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                <tr class="align-top">
                                                    <th class="ps-3">Available Slots:</th>
                                                    <td>
                                                        <input type="number" class="form-control" name="total_slots" value="{{ trek_data.total_slots }}" min="{{ participants_count }}" disabled>
                                                    </td>
                                                    <th class="ps-3">Trek Image Link:</th>
                                                    <td>
                                                        <input type="text" class="form-control" name="trek_image_link" value="{{ trek_data.trek_image_link }}" disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="ps-3">Description: </th>
                                                    <td colspan="3">
                                                        <textarea class="form-control" rows="2" maxlength="300" name="trek_description" disabled>{{ trek_data.trek_description }}</textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span class="ms-2"><strong>NB:</strong> <em>Deleting a trek will also delete the booking data associated with it.</em></span>
                                    </div>

                                    <div class="col-4">
                                        <img class="img-fluid rounded img-thumbnail" 
                                            src="{{ trek_data.trek_image_link }}"
                                            alt="Trek Image"
                                            style="max-width: 350px; max-height: 350px;">
                                    </div>

                                </div>


                                {% if trek_data.status == 'started' or trek_data.status == 'completed' %}
                                <div class="card-footer text-end">
                                    <a class="btn btn-sm btn-secondary me-2" href="{{ url_for('admin_manage_treks') }}">Return</a>
                                    <a class="btn btn-sm btn-warning me-2" href="#">{{ trek_data.status.capitalize() }} Trek cannot be deleted</a>
                                </div>
                                {% elif trek_data.status == 'open' or trek_data.status == 'closed' %}
                                <div class="card-footer text-end">
                                    <a class="btn btn-sm btn-secondary me-2" href="{{ url_for('admin_manage_treks') }}">Cancel</a>
                                    <input type="submit" class="btn btn-sm btn-danger me-3" value="Confirm Delete">
                                </div>
                                {% endif %}



                            </form>
                        </div>
                    </div>
                </div>
                <!-- Tabular Info End-->

                <!-- 2nd Tabular Info Start-->
                <div class="row pt-2 mt-2 mb-4">
                    <div class="col">
                        <div class="card" style="border-top: 5px solid purple;">    
                            <div class="card-header">
                                <small class="text-uppercase"><strong>Participants ({{ participants_count }})</strong></small>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-sm table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th class="text-center">Trekker Name</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Booking Date</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for booking in bookings %}
                                        <tr>
                                            <td>{{ booking.trekker.full_name }}</td>
                                            <td>{{ booking.trekker.user.username }}</td>
                                            <td class="text-center">{{ booking.booking_date.strftime("%d %B %Y") }}</td>
                                            <td class="text-center">{{ booking.status.capitalize() }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2nd Tabular Info End-->


            </div>
            <!-- Content Area End-->
        </div>
    </div>
    {% endblock %}