{% set pageTitle = "Admin | Treks History" %}
{% set pageID = 16 %}
{% extends 'baseTemplate.tpl.html' %}

    {% block ContentArea %}
    <div class="container-fluid">
        <div class="row">
            
            <!-- Sidebar Start-->
            {% include 'sidebar.inc.html' %}

            <!-- Sidebar End-->

            <!-- Content Area Start-->
            <div class="col-10 offset-2 p-4 bg-light rounded">
                <!-- Page Header Start-->
                <div class="row pt-2 mt-2 mb-4">
                    <div class="col">
                        <div class="card" style="border-left: 5px solid purple;">    
                            <div class="card-body">
                                <h4 class="text-uppercase" style="color: purple;">Treks History</h4>
                                <p class="h5 text-success">View historical treks data from below</em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page Header End-->

                <!-- Tabular Info Start-->
                <div class="row pt-2 mt-2 mb-4" style="min-height: 60vh">
                    <div class="col">
                        <div class="card" style="border-top: 5px solid purple;">
                            <div class="card-header d-flex justify-content-between">
                                <small class="text-uppercase"><strong>Treks History</strong></small>
                                <a class="btn btn-sm btn-primary" href="{{ url_for('admin_manage_treks_add') }}">+ Add New Trek</a>
                            </div>

                            <!-- Tab Selector Start -->
                            <ul class="nav nav-tabs mb-2">
                                <li class="nav-item">
                                    <a class="nav-link {% if request.args.get('tabID', '1') == '1' %} active {% endif %}" href="?tabID=1">Started ({{ count_started }})</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.args.get('tabID') == '2' %} active {% endif %}" href="?tabID=2">Completed ({{ count_completed }})</a>
                                </li>
                            </ul>
                            <!-- Tab Selector End -->

                            <div class="card-body p-0">
                                
                                {% if request.args.get('tabID', '1') == '1' %}
                                <table class="table table-sm table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th class="text-center">Trek ID</th>
                                            <th class="text-center">Trek Name</th>
                                            <th class="text-center">Location</th>
                                            <th class="text-center">Difficulty</th>
                                            <th class="text-center">Slots</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for trek in treks if trek.status == 'started' %}
                                    <tr>
                                        <th class="text-center">{{ trek.id }}</th>
                                        <td>{{ trek.trek_name }}</td>
                                        <td>{{ trek.location }}</td>
                                        <td class="text-center">{{ trek.difficulty.capitalize() }}</td>
                                        <td class="text-center">{{ trek.total_slots }}</td>
                                        <td class="text-center">{{ trek.status.capitalize() }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-success me-2" href="/adminManageTreks/edit/{{ trek.id }}"><i class="bi bi-pencil"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif  %}
                                
                                {% if request.args.get('tabID') == '2'  %}
                                <table class="table table-sm table-bordered">
                                    <thead class="bg-light">
                                        <tr>
                                            <th class="text-center">Trek ID</th>
                                            <th class="text-center">Trek Name</th>
                                            <th class="text-center">Location</th>
                                            <th class="text-center">Difficulty</th>
                                            <th class="text-center">Slots</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for trek in treks if trek.status == 'completed' %}
                                    <tr>
                                        <th class="text-center">{{ trek.id }}</th>
                                        <td>{{ trek.trek_name }}</td>
                                        <td>{{ trek.location }}</td>
                                        <td class="text-center">{{ trek.difficulty.capitalize() }}</td>
                                        <td class="text-center">{{ trek.total_slots }}</td>
                                        <td class="text-center">{{ trek.status.capitalize() }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-success" href="/adminManageTreks/edit/{{ trek.id }}"><i class="bi bi-pencil"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif  %}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tabular Info End-->

            </div>
            <!-- Content Area End-->
        </div>
    </div>
    {% endblock %}