{% set pageTitle = "Trekker | Browse Treks" %}
{% set pageID = 32 %}
{% extends 'baseTemplate.tpl.html' %}

    {% block ContentArea %}
    <div class="container-fluid">
        <div class="row" style="min-height: 86vh;">
            
            <!-- Sidebar Start-->
            {% include 'sidebar.inc.html' %}

            <!-- Sidebar End-->

            <!-- Content Area Start-->
            <div class="col-10 offset-2 p-4 bg-light rounded">
                <!-- Page Header Start-->
                <div class="row pt-2 mt-2 mb-4">
                    <div class="col">
                        <div class="card" style="border-left: 5px solid purple;">    
                            <div class="card-body">
                                <h4 class="text-uppercase" style="color: purple;">Browse Treks</h4>
                                <p class="h5 text-success">Enter ID or Name for searching Treks</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page Header End-->

                <!-- Search Box Start-->
                <div class="row pt-2 mt-2 mb-4">
                    <div class="col">
                        <div class="card">
                            <form action="#" method="post">
                                <div class="input-group">
                                    <input class="form-control border-primary" type="search" name="q" placeholder="Search by ID or Name of a Trek" {% if q %} value="{{ q }}" {% endif %} required>
                                    <button class="btn btn-sm btn-primary" type="submit" name="searchBtn" value="search"><i class="bi bi-search"></i> Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Search Box End-->

                <!-- Tabular Info Start-->
                    <div class="row pt-2 mt-2 mb-4">
                        <div class="col">
                            <div class="card" style="border-top: 5px solid purple;">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <small class="text-uppercase"><strong>Treks</strong></small>
                                    <form class="d-flex" action="#" method="post">
                                        <input type="hidden" name="q" value="">
                                        <div class="input-group">
                                            <select class="form-select me-2" name="difficulty">
                                                <option value="all" {{ 'selected' if difficulty not in ['easy', 'moderate', 'hard'] }}>Difficulty: All</option>
                                                <option value="easy" {{ 'selected' if difficulty == 'easy' }}>Easy</option>
                                                <option value="moderate" {{ 'selected' if difficulty == 'moderate' }}>Moderate</option>
                                                <option value="hard" {{ 'selected' if difficulty == 'hard' }}>Hard</option>
                                            </select>
                                            <select class="form-select me-2" name="location">
                                                <option value="all" {{ 'selected' if location == 'all' }}>Location: All</option>
                                                {% for lcn in location_list %}
                                                    <option value="{{ lcn }}" {{ 'selected' if location == lcn }}>{{ lcn }}</option>
                                                {% endfor %}
                                            </select>
                                            <button class="btn btn-sm btn-primary" type="submit" name="searchBtn" value="filter"><i class="bi bi-funnel-fill"></i> Browse</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="card-body p-0">
                                    <table class="table table-sm table-bordered">
                                        <thead class="bg-light">
                                            <tr>
                                                <th class="text-center">Trek ID</th>
                                                <th class="text-center">Trek Name</th>
                                                <th class="text-center">Location</th>
                                                <th class="text-center">Difficulty</th>
                                                <th class="text-center">Available Slots</th>
                                                <th class="text-center">Participants</th>
                                                <th class="text-center">Remaining Slots</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for trek in treks %}
                                            <tr>
                                                <th class="text-center">{{ trek.id }}</th>
                                                <td>{{ trek.trek_name }}</td>
                                                <td>{{ trek.location }}</td>
                                                <td class="text-center">{{ trek.difficulty.capitalize() }}</td>
                                                <td class="text-center">{{ trek.total_slots }}</td>
                                                <td class="text-center">{{ trek.participant_count }}</td>
                                                <td class="text-center">{{ (trek.total_slots) - (trek.participant_count) }}</td>
                                                <td class="text-center">{{ trek.status.capitalize() }}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-sm btn-primary" href="{{ url_for('trekker_book_now', trek_id = trek.id) }}">Details</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Tabular Info End-->

            </div>
            <!-- Content Area End-->
        </div>
    </div>
    {% endblock %}