{% set pageTitle = "Signup as a Trekker" %}
{% extends 'baseTemplate.tpl.html' %}

    {% block ContentArea %}
    <div class="container-fluid bg-light">
        <div class="row align-items-center pt-2 pb-2 ps-5 pe-5" style="height: 86vh;">
            <div class="col-7">
                <h2>Welcome to TMA</h2>
                <h4>Trekking Management Application for Adventure Organization</h4>
            </div>
            <!-- Login Form Start-->
            <div class="col-5 card shadow p-4">
                <h4>Signup as a Trekker</h4>
                <p>Enter your information to register as a Trekker</p>
                <form action="/trekkerSignup" method="post">
                    <div class="mb-3">
                        <input type="email" class="form-control" name="username" placeholder="Enter email as username" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Enter password" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="full_name" placeholder="Enter your full name" required>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" name="contact_no" placeholder="Enter your contact no" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success form-control">Signup</button>
                    </div>
                </form>
                <hr>
                <div class="row">
                    <p>Already have an account?</p>
                    <div class="col">
                        <a href="/login" class="btn btn-primary form-control">Login</a>
                    </div>
                </div>
            </div>
            <!-- Login Form End-->
        </div>
    </div>
    {% endblock %}